{{define "footer-head"}}
<link rel="stylesheet" href="/static/components/footer.css">
{{end}}

{{define "footer-body"}}
<footer>
    <div class="footer-info">
        <h3>Autor webu: Raferat</h3>
        <p>Mail: <a href="mailto:mailnaneduveryhodnestranky@seznam.cz">mailnaneduveryhodnestranky@seznam.cz</a></p>
    </div>
    <div class="footer-disclaimer">
        <h3>Disclaimer:</h3>
        <p>Tyto webové stránky <strong>nejsou oficiální webové stránky Gymnázia Voděradská</strong>. Pokud je hledáte, jsou na stránce <a href="http://gymvod.cz">gymvod.cz</a>. Toto je pouze žákovský projekt. Více informací najdete na <a href="https://github.com/raferat/gymvod-remastered">repozitáři</a>, kde je kód těchto stránek.</p>
    </div>
    <div class="footer-cookies">
        <h3>Cookies:</h3>
        <p>Tyto webové stránky využívají funkce souborů cookies pro uložení Vaší preference motivu stránky. Využíváním funkce nastavení souhlasíte s využitím souborů cookies.</p>
    </div>
</footer>
{{end}}
