@import url("/static/catppuccin.css");
@import url("/static/fontloader.css");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--mtp-base);
    color: var(--mtp-text);
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1646px) {
    .tablet {
        display: none;
        visibility: hidden;
    }
    
    .mobile {
        display: none;
        visibility: hidden;
    }    
}

@media screen and (max-width: 1645px) and (min-width: 1069px) {
    .desktop {
        display: none;
        visibility: hidden;
    }
    
    .mobile {
        display: none;
        visibility: hidden;
    }    
}

@media screen and (max-width: 1068px) {
    .desktop {
        display: none;
        visibility: hidden;
    }
    
    .tablet {
        display: none;
        visibility: hidden;
    }    
}

a {
    color: var(--mtp-accent);
}