@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url(/static/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url(/static/fonts/Poppins-Bold.ttf);
}

