{{define "about-site"}}

<!DOCTYPE html>
<html lang="en">
<head>
    {{template "default-head" "Gymvod - O Škole"}}
    <link rel="stylesheet" href="/static/sites/about.css">
    
    <meta
        name="description"
        content="Popis školy a Kontaktní údaje gymnázia Voděradská.
            Nacházíme se na adrese Voděradská 900/2, Praha 10 - Strašnice, 100 00.">
    {{template "navbar-head"}}
    {{template "footer-head"}}
    {{template "ucitele-head"}}
</head>
<body>
    {{template "navbar-body" "O Škole"}}
    <main>
        <div class="about-pane">
            <h1 style="text-align: center;">Gymnázium Voděradská</h1>
        </div>
        <div class="about-pane contact">
            <h2>Kontaktní údaje:</h2>
            <table>
                <tr>
                    <td>Adresa:</td>
                    <td>Voděradská 900/2; Praha 10 - Strašnice; 100 00</td>
                </tr>
                <tr>
                    <td>Telefony:</td>
                    <td>274 817 655, 274 027 011 / <a href="/ucitele">linka kabinetu</a></td>
                </tr>
                <tr>
                    <td>Fax:</td>
                    <td>274 815 054</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><a href="mailto:info@gymvod.cz">info@gymvod.cz</a></td>
                </tr>
                <tr>
                    <td>Webové stránky:</td>
                    <td><a href="http://gymvod.cz">gymvod.cz</a></td>
                </tr>
                <tr>
                    <td>IČO:</td>
                    <td>61385361</td>
                </tr>
                <tr>
                    <td>IZO:</td>
                    <td>000638200</td>
                </tr>
                <tr>
                    <td>Číslo účtu školy:</td>
                    <td><a href="https://gymvod.cz/kontakt/">Získejte zde</a></td>
                </tr>
            </table>
        </div>
        <div class="about-pane map-wrapper">
            <h2>Kde nás najdete: </h2>
            <iframe class="map" title="Mapa, kde se nacházíme" style="border:none" src="https://frame.mapy.cz/s/fomadohuzo" frameborder="0"></iframe>
        </div>
        {{template "ucitele-body" dict "Data" .UciteleTable "Embed" true}}
    </main>

    {{template "footer-body"}}
</body>
</html>
{{end}}