<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gymvod - Aktuální informace</title>
    <link rel="stylesheet" href="/static/default.css">
    <link rel="shortcut icon" href="/static/logo.svg" type="image/x-icon">
    {{template "navbar-head"}}
    {{template "footer-head"}}
</head>
<body>
    {{template "navbar-body" "Aktuální informace"}}
    

    {{template "footer-body"}}
</body>
</html>