{{define "indexabout-school-tablet-desktop"}}
<div class="about-school">
    <img src="http://www.bexte.cz/picture/page/big/12072010169_2.jpg" alt="">
    <!--<div class="frame">
        
    </div>-->
</div>
{{end}}

{{define "index-site"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "default-head" "Gymvod - Aktuální informace"}}
    <link rel="stylesheet" href="/static/sites/index.css">
    {{template "navbar-head"}}
    {{template "footer-head"}}
</head>
<body>
    {{template "navbar-body" "Aktuální informace"}}
<!--Current info-->
    <main class="information-grid">
    <div>
    {{range .}}
        <article class="current-info">
            {{range .}}
                {{if .StartTag -}}
                    {{$tag := .TagName | printf "<%s " }}
                    {{range $key, $value := .Attrs}}
                        {{$tag = (printf "%s %s=\"%s\"" $tag $key $value)}}
                    {{end -}}
                    {{printf "%s>" $tag | unesc }}
                {{- else if .EndTag -}}
                    {{printf "</%v>" .TagName | unesc }}
                {{- else -}}
                    {{.TextContent}}
                {{end}}
            {{end}}
        </article>
    {{end}}
    </div>
    </main>
<!--End current info-->
<!--About school-->
    <div class="mobile">

    </div>
    <div class="tablet">
        {{template "indexabout-school-tablet-desktop"}}
    </div>
    <div class="desktop">
        {{template "indexabout-school-tablet-desktop"}}
    </div>
<!--End about school-->
    {{template "footer-body"}}
</body>
</html>
{{end}}