main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


iframe.map {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    border: 0;
}

iframe.map:focus {
    border: 0;
}

@media screen and (max-width: 1069px) {
    main {
        padding: 15px;
    }
}

.about-pane h2 {
    margin-top: 0;
}

.about-pane {
    width: 100%;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--mtp-accent);
    background-color: var(--mtp-crust);
    box-shadow: 1px 1px 5px var(--ctp-frappe-base);
}

.contact table {
    border-spacing: 1em 1em;
}

.gymvod-logo svg {
    padding: 6px;
    height: 80px;
    fill: var(--mtp-text);
    filter: blur(0.1px);
}